.sidebar{
    width: 224px;
    height: 987px;
    display: flex;
    display: flex;
    flex-direction: column;

    div{
        width: 206px;
        height: 37px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 20px;
        margin-top: 20px;
        border-radius: 20px;
    }

    p{
        margin-left: 20px;
    }
}